@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    /* background-color: #b4d0e7; */
}

/* regole header */

header{
    height: 80px;
    background-color: white;
    position: relative;
}

header::after{
    content: "";
    display: table;
    clear: both;
}

header>nav.sx, header>.logo{
    float: left;
}

header>.button, header>nav.dx{
    float: right;
}

header>.logo{
    height: 100%;
    display: inline-block;
    margin-left: 20px;
}

header .logo>img{
    position: relative;
    top:50%;
    transform: translateY(-50%)
}

header>nav li{
    display: inline-block;
    line-height: 80px;
}

header>nav li>a{
    margin-left: 40px;
    text-decoration: none;
    display: block;
    color: black;
    height: 100%;
    font-weight: 600;
}

.button>a{
    text-decoration: none;
    color: white;
    background-color: #0061ff;
    padding: 7px 20px;
    line-height: 80px;
    margin-right: 25px;
    font-size: 14px;
    margin-left: 45px;
}

/* fine regole header */

/* regole jumbotron */

#jumbotron{
    background-color: #b4d0e7;
    width: 100%;
    height: 100vh;
    padding: 80px 145px;
}

#jumbotron>h1{
    font-size: 76px;
    margin-bottom: 50px;
}

#jumbotron .jumbobox{
    width: 100%;
}

#jumbotron .jumbobox::after{
    content: "";
    display: table;
    clear: both;
}

.jumbobox>div{
    float: left;
}

#jumbotron .jumbotext{
    font-weight: 600;
    width: 400px;
    margin-right: 40px;
    /* background-color: red; */
}

.jumbotext>a{
    text-decoration: none;
    color: white;
    background-color: #0061ff;
    padding: 10px 20px;
    font-size: 16px;
    display: inline-block;
    margin-top: 30px;
}

.jumbotext>span{
    display: block;
    font-size: 14px;
    margin-top: 10px;
}

.jumbotext>div{
    font-size: 40px;
    margin-top: 40px;
}

#jumbotron .jumboimagebox{
    max-width: calc(100% - 440px);
}

#jumbotron img{
    object-fit:cover;
    width: 100%;
}

/* fine regole jumbotron */